// All Css Here
@import "~bootstrap/dist/css/bootstrap.min.css";

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card-news {
    transition: transform 0.2s !important;
    transition-timing-function: ease-in-out !important;
}

.card-news:hover {
    transform: scale(1.05, 1.05);
}

.scrollable-hidden::-webkit-scrollbar {
    height: 0px;
}

.scrollable {
    overflow-y: scroll;
    height: 500px;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* width */
.scrollable-show::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
    background: rgb(228,35,19);
    cursor :pointer;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
    background: #555;
}
